.menu{
	margin: auto;
	width: 1200px;
	height: 50px;
}
.firstLi{
	list-style: none;/*去除列表的项目符号*/
	display: block;/*变成块级元素--目的是为了让其可以浮动*/
	width: 100px;
	height: 40px;
	float: left;
	line-height: 50px;
	padding-top: 10px;
	color: #727171;
	text-align: center;
}
.firstLi span{
	margin-left: 18px;
}
.menu img{
	display: block;
	float: left;
}

.secondLi{
	list-style: none;
	margin-left: -70px;
}
a{
	color: #727171;
	text-decoration: none;
}
.secondLi:hover a{
	color: red;
}
.firstLi ul{
	display: none;/*隐藏*/
}
.firstLi:hover .secondUl{
	display: block;
}
.firstLi:hover {
	border-bottom: 5px solid #B22222;
}
#csgo{
	background-image: url(../img/icon_hot.png);
	background-repeat: no-repeat;/*背景图片不重复*/
	background-position-x: 50px;
	background-position-y: 10px;
}
